@charset "UTF-8";
/* 폰트 추가*/
/* 굵음 */
@font-face {
  font-family: 'ON_IGothic';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 일반 */
@font-face {
  font-family: 'Handon3gyeopsal600g';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1050px;
  min-width: 1050px;
  width: 1050px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #fec084;
}

main header #img_wrapper {
  width: 150%;
}

main header #img_wrapper img {
  width: 500px;
  height: auto;
  margin-right: 30px;
  display: inline-block;
}

main header form {
  display: inline-block;
  width: 100%;
  font-family: "ON_IGothic";
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main header form .header {
  margin-bottom: 70px;
  font-size: 20px;
}

main header form .name {
  margin-top: 10px;
  margin-bottom: 80px;
  font-size: 32px;
}

main header form .name span {
  padding-bottom: 10px;
  border-bottom: 3px solid #fec084;
}

main header form .title {
  display: inline-block;
  width: 150px;
  font-size: 20px;
}

main header form #price {
  color: #FB9832;
  font-size: 30px;
  text-align: left;
  width: 80px;
}

main header form input {
  width: 150px;
  height: 45px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  font-size: 20px;
  color: #333;
  font-family: "ON_IGothic";
  border: none;
}

main header form #total {
  text-align: left;
  color: #f09439;
  font-size: 40px;
}

main header form .btn_wrapper .btn {
  background-color: #f09439;
  border: 3px solid #f09439;
  border-radius: 3px;
  color: white;
  font-family: "ON_IGothic";
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  height: 80px;
}

main header form .btn_wrapper .btn:hover {
  cursor: pointer;
}

main header form .btn_wrapper #submit_btn {
  margin-left: 15px;
}

main header form .btn_wrapper #cartBtn {
  background-color: white;
  color: #f09439;
  border: 2px solid #f09439;
  width: 200px;
}

main #detail {
  position: relative;
  bottom: 30px;
}

#button_down, #button_up {
  overflow: visible;
  font-size: 25px;
  font-weight: lighter;
  color: #333;
  cursor: pointer;
  border-radius: 0;
  vertical-align: middle;
  line-height: 22px;
  z-index: 1;
}

#button_down:active, #button_up:active {
  color: #FB9832;
}

#button_down {
  margin-right: -40px;
  position: relative;
}

#button_up {
  margin-left: -40px;
  position: relative;
}

#quantity {
  z-index: 0;
  border: 0px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/*# sourceMappingURL=goods_view.css.map */