@import '../../font/font-family'; 
$brandColor1: #fec084; 
$brandColor2: #FB9832;
$titleColor: #333;
$titleDetailColor: gray;
$normalFont: 'ON_IGothic';
$thinFont :  'MS Shell Dlg 2';

input[type*="radio"] {
    display: none;
}

// mypage_review.jsp 부분
#mypage{
    #review_btn_wrapper{
        display: block;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid $brandColor1;
        // margin-top: 20px;
        // padding-bottom: 10px;

        .review_title{
            display: inline-block;
            color:#333;
            font-size: 24px;
            margin: 0px;
            padding-bottom:20px;
        }

        span{
            position: relative;
            left: 250px;
            text-align: center;
            font-family: inherit;
            font-size: 18px;
            display: inline-block;
            width: 200px;
            letter-spacing: 1;
            line-height: 2.1;
        }
        span:first-of-type{
            margin-right: 10px;
        }
        span:last-of-type{
            margin-left:10px;
        }
    }
    #review_inner_title{
        margin-bottom: 0px;
    }
    .review_detail{
        color: gray;
        padding-left: 10px;
    }
}

.review_table{
    margin-top: 30px !important;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border-collapse:collapse;
    color: $titleColor;
    .column_tr{
        background-color: #f3f3f3;
        color: rgb(107, 107, 107);
        font-size:18px;
    }
    th{
        vertical-align: middle;
    }
    td{
        border-bottom: 0.5px solid #dcdbde;
        vertical-align: middle;
        // text-align: center;
        font-family: $thinFont;
        padding: 10px;
        font-size: 16px;
    }
    .pointer_tr{
        &:hover{
            cursor: pointer;
        }
    }
    .btn_td{
        a{
            text-decoration: none;
            color: inherit;
        }
        &:hover a{
            color: #fec084;
        }
    }
    .rateField{

        form{
            margin-bottom:0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .rate_star_wrapper{
                margin-right: 20px;
                font-size: 25px;
                color: $titleColor;
                i{
                    margin-right: 5px;
                    &:hover {
                        color:$brandColor1;
                        cursor: pointer;
                    }
                }
            }
            .r_content_wrapper{
                margin-right: 40px;
                textarea{
                    width: 300px;
                    padding:10px;
                    font-family: $thinFont;
                    color: $titleColor;
                    border-radius: 5px;
                    border: 1px solid #dcdbde;
                    &:focus{
                        border: 1px solid $brandColor2;
                    }
                }
            }
        }

    }
}

.yStar{
    color: $brandColor1;
}
.nStar{
    color: rgb(204, 204, 204);
    &:hover {
        color:$brandColor1;
        cursor: pointer;
    }
}

.active_btn {
    height: 40px;
    width: 70px;
    border: 1px solid #FB9832;
    background-color: #FB9832;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#review_read_tb{
    th{
        vertical-align: middle;
        padding-left: 10px;
        height: 50px;
        font-family: $normalFont;

    }
}
.view_hide{
    display: none;
}