.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #e6e6e6;
  cursor: pointer;
  border: none;
  border-radius: .25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.filebox label:hover {
	background-color: #fb982e;
}

.filebox label:active {
	background-color: #fb9615;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#pht_table td{
	padding-left: 15px;
	padding-right: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}