#btn_frm{
	margin-top:15px;
	margin-bottom:15px;
	position: relative;
	left: 585px;
}

#manager #notice_searchFrm{
	margin-top:15px;
	position: relative;
	left: 215px;
	width: 400px;
}
#notice_searchFrm .notice_searchTable{
	width: 100%;
	border: 0px;
}

#notice_searchFrm .notice_searchTable td{
	border: 0px;
}

#notice_searchFrm #notice_search_select{
	width: 100px;
}
#notice_searchFrm #notice_search_input{
	width: 150px;
}

.notice_list{
	width: 100%;
}

.notice_list_wrapper{
	width: 100%;
}
.notice_list th:nth-of-type(1), td:nth-of-type(1){
	width: 55px;
}
.notice_list th:nth-of-type(4), td:nth-of-type(4){
	width: 75px;
}
.notice_list th:nth-of-type(3), td:nth-of-type(3){
	width: 236px;
}
#manager .notice_view_table{
	width: 100%
}
#manager .notice_view_table th{
	width: 20%;
	height: 40px;
	vertical-align: middle;
}
#manager .notice_view_table #notice_write_title{
	width: 97%;
}

#manager .notice_view_table td{
	vertical-align: middle;
	padding-left: 20px;
	height: 40px;
}
.notice_view_table img{
	width: 100%;
}
#manager .notice_view_table #input_td{
	height: 300px;
}
#manager .notice_view_table #input_td textarea{
	height: 100%;
	width: 97%;
	border: none;
	padding: 20px;
}

main{
min-width: 1050px;
max-width: 1050px;
width: 1050px;
min-height: 700px;
margin: 0px auto;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
text-align: center;
color:
#333;
font-family: "ON_IGothic";
letter-spacing: 0.5px;
}

main #manager{
	padding: 0px;
	padding-top: 50px;
	width: 100%;
	height: 100%;
	
}
main #manager #btn_frm{
	display: inline-block;
	width: auto;
	position: relative;
	left: 480px;
}
main #manager #notice_searchFrm{
	left: auto;
}
