@charset "UTF-8";
/* 폰트 추가 noto-Sans*/
@font-face {
  font-family: 'noto_Bold';
  src: url(../font/NotoSansCJKkr-Bold.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'noto_Black';
  src: url(../font/NotoSansCJKkr-Black.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'noto_Demilight';
  src: url(../font/NotoSansCJKkr-DemiLight.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'noto_Light';
  src: url(../font/NotoSansCJKkr-Light.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'noto_Medium';
  src: url(../font/NotoSansCJKkr-Medium.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'noto_Regular';
  src: url(../font/NotoSansCJKkr-Regular.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'noto_Thin';
  src: url(../font/NotoSansCJKkr-Thin.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'InkLipquid';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Danjunghae';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMHANNAAir';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BBTreeGB';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Simplehae';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TDTDTadakTadak';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/TDTDTadakTadak.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ON-IGothic';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eoe_Zno_L';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_L.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BBTreeGL';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Handon3gyeopsal300g';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal300g.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=font-family.css.map */