/* 폰트 추가 noto-Sans*/

@font-face{
    font-family: 'noto_Bold';
    src : url(../font/NotoSansCJKkr-Bold.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'noto_Black';
    src : url(../font/NotoSansCJKkr-Black.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'noto_Demilight';
    src : url(../font/NotoSansCJKkr-DemiLight.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'noto_Light';
    src : url(../font/NotoSansCJKkr-Light.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'noto_Medium';
    src : url(../font/NotoSansCJKkr-Medium.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'noto_Regular';
    src : url(../font/NotoSansCJKkr-Regular.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'noto_Thin';
    src : url(../font/NotoSansCJKkr-Thin.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'InkLipquid'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face { 
    font-family: 'Cafe24Danjunghae'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'BMHANNAAir'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face { 
    font-family: 'BBTreeGB'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}