@charset "UTF-8";
/* 폰트 추가*/
/* 굵음 */
@font-face {
  font-family: 'ON_IGothic';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 일반 */
@font-face {
  font-family: 'Handon3gyeopsal600g';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

/* include 하는 각각의 페이지에서 div #main 선언해야함 */
#main {
  max-width: 1050px;
  min-width: 1050px;
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main header {
  width: 100%;
  min-width: 1050px;
}

#main #btn_manager_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 600px;
}

#main #btn_manager_wrapper #admin_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 600px;
  width: 150px;
}

#section {
  display: block;
  font-size: 30px;
  font-family: "ON_IGothic";
  color: #4A4439;
  height: 53px;
  overflow: visible;
}

/*************************/
/***** 메뉴 버튼 부분 *****/
/*************************/
#manager_btn_wrapper {
  /****  위치 다시 잡기 (html 전체 기준임) ****/
  /* 미디어 쿼리 사용 예정 */
  position: -webkit-sticky;
  position: sticky;
  top: 268px;
  border: 0.5px solid #dcdbde;
  border-radius: 5px;
  font-family: "ON_IGothic";
  font-size: 14px;
  width: 150px;
}

#manager_btn_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  justify-items: center;
  margin: 0px;
  padding: 0px;
}

#manager_btn_wrapper ul a {
  text-decoration: none;
}

#manager_btn_wrapper ul a li {
  display: block;
  position: relative;
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 50px;
  color: gray;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#manager_btn_wrapper ul a li .icon {
  position: absolute;
  top: 32px;
  right: 10px;
}

#manager_btn_wrapper ul a li:hover {
  background-color: #f3f3f5;
  color: #FB9832;
}

#manager_btn_wrapper ul a li:hover i {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#btn_first li:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#btn_last li:first-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/**********************/
/***** 요약창 부분 *****/
/**********************/
#manager_summ {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 500px;
  display: inline-block;
}

#manager_summ ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 0.5px solid #dcdbde;
  border-radius: 3px;
  margin: 0px;
  padding: 0px;
  background-color: rgba(254, 192, 132, 0.4);
}

#manager_summ ul li {
  list-style: none;
  border-left: 0.5px solid #dcdbde;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  text-align: center;
  padding-top: 15px;
  font-family: "ON_IGothic";
  color: #333333;
  margin: 10px;
}

#manager_summ ul li div {
  display: block;
  width: 150px;
  height: 50px;
  text-align: center;
}

#manager_summ ul li .bold {
  font-size: 24px;
  font-family: "ON_IGothic";
  color: #EB7A36;
}

#manager_summ ul li #point_top, #manager_summ ul li #del_top {
  position: relative;
  top: 8px;
}

#manager_summ ul li #name_bottom {
  position: relative;
  top: 7px;
}

#manager_summ #manager_summ_ul li:first-of-type {
  border-left: none;
}

#manager {
  height: 100%;
  width: 80%;
  min-width: 80%;
  font-family: "ON_IGothic";
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#manager form, #manager .form_wrapper {
  width: 97%;
  padding-left: 20px;
}

.title {
  display: inline-block;
  width: 100%;
  color: #333;
  font-size: 24px;
  border-bottom: 3px solid #fec084;
  padding-bottom: 20px;
}

.inner_title {
  display: inline-block;
  color: #333;
  font-size: 23px;
  padding-bottom: 20px;
  margin-top: 30px;
}

/***** mgr_table (매니져모드의 테이블 공통 속성) ****/
.mgr_table {
  border: 2px solid #dcdbde;
  letter-spacing: 0.5px;
  color: #333;
  margin-bottom: 20px;
}

.mgr_table th {
  background-color: #f3f3f5;
  width: 150px;
  border: 0.5px solid #dcdbde;
}

.mgr_table td {
  border: 0.5px solid #dcdbde;
  padding: 5px;
}

.mgr_table td input, .mgr_table td select {
  padding: 10px;
  border: 1px solid #dcdbde;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  width: 180px;
}

.mgr_table td .radio, .mgr_table td .checkbox {
  width: 50px;
  vertical-align: middle;
}

.mgr_table td .radio {
  margin-top: -1px;
}

.horHead th {
  height: 60px;
  font-size: 18px;
  vertical-align: middle;
}

.horHead td {
  height: 50px;
  vertical-align: middle;
  text-align: center;
  font-family: "MS Shell Dlg 2";
  font-weight: 500;
}

.horHead td a {
  text-decoration: none;
  color: inherit;
}

.horHead td a:hover {
  color: #FB9832;
}

.btn_td a {
  font-family: "ON_IGothic";
  text-decoration: none;
  color: inherit;
}

.btn_td:hover a {
  color: #fec084;
}

.submit_wrapper {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.submit_wrapper .btn {
  margin-right: 30px;
  height: 50px;
  width: 100px;
  font-size: 17px;
}

.submit_wrapper #delete {
  background: rgba(255, 95, 89, 0.2);
  width: auto;
  border: 1px solid #FF5F59;
  color: #FF5F59;
}

.btn {
  height: 40px;
  width: 100px;
  border: 1px solid #FB9832;
  background-color: white;
  border-radius: 3px;
  color: #FB9832;
  font-weight: bold;
  font-size: 18px;
}

.btn:active {
  background-color: #f09439;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

#addr_btn {
  width: auto;
}

/** 페이지네이션 버튼 테이블 **/
.pagination_tb a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  margin: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.pagination_tb #nowPage_btn {
  color: coral;
}

/** goods_master.jsp 에만 **/
#search_btn, #member_search_btn {
  background-color: white;
  color: #FB9832;
  width: 80px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #FB9832;
}

#search_btn:active, #member_search_btn:active {
  background-color: #f09439;
  color: white;
}

#search_btn:hover, #member_search_btn:hover {
  cursor: pointer;
}

#m_select {
  width: 200px;
  margin-right: 21px;
}

/** goods_view.jsp 에서만 **/
#chgread1 {
  position: relative;
  top: 5px;
  left: 550px;
}

/*** goods_insert.jsp 에만 ***/
#pht_table input {
  width: 300px;
}

.rm_pct {
  margin-top: 5px;
}

/*** member_list.jsp 에서만 ***/
#order_number_frm {
  display: inline;
  position: relative;
  left: 650px;
  top: 30px;
}

#order_number_frm select {
  padding: 10px;
  border: 1px solid #dcdbde;
  border-radius: 3px;
  width: 120px;
}

/** order_list.jsp 에서만 **/
#order_list_title {
  margin-top: 0px;
}

#daumWrap2 {
  left: 63%;
  top: 65%;
  border: 1px solid #fec084;
}

/** member_view.jsp 에서만 **/
.memInfo_table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  color: #333;
}

.memInfo_table th {
  font-size: 16px;
  width: 150px;
}

.memInfo_table td {
  font-family: "MS Shell Dlg 2";
  font-size: 16px;
}

.memInfo_table tr {
  height: 50px;
}

.memInfo_table th, .memInfo_table td {
  height: 30px;
  padding: 0px;
}

.memInfo_table input {
  display: inline-block;
  width: 210px;
  padding-left: 10px;
  height: 40px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #dcdbde;
}

.memInfo_table input:focus {
  border: 1px solid #FB9832;
}

.memInfo_table .input_zipcode {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 400px;
}
/*# sourceMappingURL=admin_style.css.map */