@import '../../font/font-family';
$brandFont: 'ON_IGothic';
$testFont: 'Handon3gyeopsal600g';
$brandColor: #fec084;


#mypage{

    table {
        border-collapse:collapse; 
        width: 100%;
        text-align:center;
        color: #333;
        td{
            font-size: 16px;
            height: 100px;
            padding-top:40px;
        }
        .btn_td{
            a{
                text-decoration: none;
                color: #333;
            }
            &:hover a{
                color: #fec084;
            }
        }
        #head_td{
            height: 60px;
            border-bottom: 0.5px solid #dcdbde;
            padding-top: 0px;
            font-size: 30px;
        }
        .column_td{
            border-bottom: 0.5px solid #dcdbde;
            font-size: 20px;
            height: 50px;
            padding-top: 13px;
        }
    }    
}