@import '../../font/font-family';
$brandFont: 'ON_IGothic';
$testFont: 'Handon3gyeopsal600g';
$brandColor: #fec084;

/* include 하는 각각의 페이지에서 div #main 선언해야함 */
#main{
	max-width: 1050px;
	min-width: 1050px;
	width: 1050px;
	margin:0 auto;
	display: flex;
	flex-direction: column;
    align-items: center;
    
    header{  // mypage 요약창 구역
        width: 100%;
        min-width: 1050px;
    }
    #btn_mypage_wrapper{  // 버튼메뉴 + mypage 내용 wrapper (flex container)
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        min-height: 600px;

        #btn_wrapper{     // 버튼메뉴 구역
            // width: %;
            height: 100%;
            min-height:600px;
            width: 150px;
        }
        #mypage{
            height: 100%;
            width: 80%;
            font-family: $brandFont;
            padding-left: 50px;
        }
    }
}

/*************************/
/***** 메뉴 버튼 부분 *****/
/*************************/
#mypage_btn_wrapper{
    
    /****  위치 다시 잡기 (html 전체 기준임) ****/
    /* 미디어 쿼리 사용 예정 */
    // z-index: -100;
    
    // display: inline-block;
    // position: fixed;
    position: sticky;
    top: 216px;
    border: 0.5px solid #dcdbde;
    border-radius: 5px;
    // left: 200px;
    font-family: $brandFont;
    font-size: 14px;
    width: 150px;
    ul{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-items: center;
        margin: 0px;
        padding: 0px;
        a{
            text-decoration: none;
            li{
                display: block;
                position: relative;
                list-style: none;
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 20px;
                padding-right: 50px;
                // border-top: 0.5px solid $brandColor;
                color: gray;
                transition: all 0.3s;
                
                .icon{
                    position: absolute;
                    top: 32px;
                    right: 10px;
                }
                &:hover{
                    background-color: #f3f3f5;
                    color: #FB9832;
                    i{
                        transform: rotate(0.5turn);
                        transition: transform 0.2s;
                    }
                }
            }
           
        }
    }
}

#btn_first{
    li:first-of-type{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}
#btn_last{
    li:first-of-type{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}



/**********************/
/***** 요약창 부분 *****/
/**********************/
#mypage_summ{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 500px;
    display: inline-block;
    ul{
        display: flex;
        flex-direction: row;
        border: 0.5px solid #dcdbde;
        border-radius: 3px;
        margin: 0px;
        padding: 0px;
        background-color: rgba(254, 192, 132,0.4);
        
        li{
            list-style: none;
            border-left: 0.5px solid #dcdbde;
            display: flex;
            flex-direction: column;
            justify-items: center;
            text-align: center;
            padding-top: 15px;
            font-family: $brandFont;
            color: #333333;
            margin: 10px;
            
            div{
                display: block;
                width: 150px;
                height: 50px;
                text-align: center;
            }
            .bold{
                font-size: 24px;
                font-family: $brandFont;
                color: #EB7A36;
            }
            #point_top, #del_top{
                position: relative;
                top: 8px;
            }
            #name_bottom{
                position: relative;
                top: 7px;
            }
        }
    }
    
    #mypage_summ_ul{
        li:first-of-type{
            border-left: none;
        }
    }
}