@charset "UTF-8";
/* 폰트 추가*/
/* 굵음 */
@font-face {
  font-family: 'ON_IGothic';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 일반 */
@font-face {
  font-family: 'Handon3gyeopsal600g';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

#main {
  max-width: 1050px;
  min-width: 1050px;
  width: 1050px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main header {
  width: 100%;
  min-width: 1050px;
}

#main #btn_mypage_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 600px;
}

#main #btn_mypage_wrapper #mypage_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 600px;
  width: 150px;
}

#section {
  display: block;
  font-size: 30px;
  font-family: "ON_IGothic";
  color: #4A4439;
  height: 53px;
  overflow: visible;
}

/*************************/
/***** 메뉴 버튼 부분 *****/
/*************************/
#mypage_btn_wrapper {
  /****  위치 다시 잡기 (html 전체 기준임) ****/
  /* 미디어 쿼리 사용 예정 */
  position: -webkit-sticky;
  position: sticky;
  top: 268px;
  border: 0.5px solid #dcdbde;
  border-radius: 5px;
  font-family: "ON_IGothic";
  font-size: 14px;
  width: 150px;
}

#mypage_btn_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  justify-items: center;
  margin: 0px;
  padding: 0px;
}

#mypage_btn_wrapper ul a {
  text-decoration: none;
}

#mypage_btn_wrapper ul a li {
  display: block;
  position: relative;
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 50px;
  color: gray;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#mypage_btn_wrapper ul a li .icon {
  position: absolute;
  top: 32px;
  right: 10px;
}

#mypage_btn_wrapper ul a li:hover {
  background-color: #f3f3f5;
  color: #FB9832;
}

#mypage_btn_wrapper ul a li:hover i {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#btn_first li:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#btn_last li:first-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/**********************/
/***** 요약창 부분 *****/
/**********************/
#mypage_summ {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 500px;
  display: inline-block;
}

#mypage_summ ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 0.5px solid #dcdbde;
  border-radius: 3px;
  margin: 0px;
  padding: 0px;
  background-color: rgba(254, 192, 132, 0.4);
}

#mypage_summ ul li {
  list-style: none;
  border-left: 0.5px solid #dcdbde;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  text-align: center;
  padding-top: 15px;
  font-family: "ON_IGothic";
  color: #333333;
  margin: 10px;
}

#mypage_summ ul li div {
  display: block;
  width: 150px;
  height: 50px;
  text-align: center;
}

#mypage_summ ul li .bold {
  font-size: 24px;
  font-family: "ON_IGothic";
  color: #EB7A36;
}

#mypage_summ ul li #point_top, #mypage_summ ul li #del_top {
  position: relative;
  top: 8px;
}

#mypage_summ ul li #name_bottom {
  position: relative;
  top: 7px;
}

#mypage_summ #mypage_summ_ul li:first-of-type {
  border-left: none;
}

#mypage {
  height: 100%;
  width: 80%;
  min-width: 80%;
  font-family: "ON_IGothic";
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mypage form, #mypage .mypage_wrapper {
  width: 97%;
  padding-left: 20px;
}

.title {
  display: inline-block;
  width: 100%;
  color: #333;
  font-size: 24px;
  border-bottom: 3px solid #fec084;
  padding-bottom: 20px;
}

.inner_title {
  display: block;
  color: #333;
  font-size: 23px;
  padding-bottom: 20px;
  margin-top: 30px;
}

input {
  display: inline-block;
  padding-left: 10px;
  height: 50px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #dcdbde;
}

input:focus {
  border: 1px solid #FB9832;
}

img {
  width: 100px;
  height: auto;
}

.mypage_table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  color: #333;
}

.mypage_table th {
  font-size: 20px;
  padding-top: 13px;
}

.mypage_table td {
  border-bottom: 0.5px solid #dcdbde;
  font-family: "MS Shell Dlg 2";
  font-size: 16px;
  height: 100px;
  vertical-align: middle;
  padding: 10px;
}

.mypage_table .btn_td a {
  text-decoration: none;
  color: inherit;
}

.mypage_table .btn_td:hover a {
  color: #fec084;
}

.horHead th {
  border-top: 0.5px solid #dcdbde;
  border-bottom: 0.5px solid #dcdbde;
  height: 50px;
}

.verHead tr {
  height: 50px;
}

.verHead th, .verHead td {
  height: 30px;
  padding: 0px;
}

.verHead th {
  font-size: 16px;
  width: 150px;
}

.verHead input {
  height: 40px;
}

.btn {
  height: 40px;
  width: 70px;
  border: 1px solid #FB9832;
  background-color: white;
  border-radius: 3px;
  color: #FB9832;
  font-weight: bold;
  font-size: 18px;
}

.btn:active {
  background-color: #f09439;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.mypage_btn_wrapper {
  margin-top: 30px;
}

.mypage_btn_wrapper .mypage_submit {
  width: 150px;
}

/** myinfo_check.jsp 만 사용  **/
#pwdCheck_form {
  display: inline-block;
  padding-top: 30px;
}

#pwdCheck_form .inner_title {
  display: inline-block;
}

#pwdCheck_form #title_wrapper {
  padding-left: 250px;
}

#pwdCheck_form #btn_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10px;
  padding-left: 250px;
}

#pwdCheck_form #btn_group #pwdCheckInput {
  margin-right: 20px;
  margin-top: -1px;
}

#pwdCheck_form #btn_group #pwdcheckBtn {
  height: 50px;
}

/** mypage_myinfo.jsp 만 사용 **/
#myinfo_table th, #myinfo_table td {
  border: none;
  text-align: left;
}

#myinfo_table #address_th {
  padding-top: 5px;
  vertical-align: top;
}

#myinfo_table #address_td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5px;
  height: 200px;
}

#myinfo_table #address_td #zip_btn {
  margin-bottom: 5px;
  display: inline-block;
  padding-left: 10px;
  height: 40px;
  width: 88.7px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #dcdbde;
}

#myinfo_table .input_zipcode {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 400px;
}

#adrress_submit {
  margin-left: 400px;
}

/** mypage_orderlist.jsp 만 **/
#column_tr th {
  border-top: none;
}

#daumWrap3 {
  left: 60%;
  top: 65%;
  border: 1px solid #fec084;
}

.disabled {
  pointer-events: none;
  background-color: #eee;
  color: #555;
  opacity: 1;
}
/*# sourceMappingURL=mypage_style.css.map */