@import '../../font/font-family';

$brandColor1: #fec084;
$brandColor2: #FB9832;
$brandFont : 'ON_IGothic';
$thinFont :  'MS Shell Dlg 2';
$main-blackcolor: #333;
$table-graycolor:#dcdbde;
$tableBorder: 0.5px solid #dcdbde;


/* function 선언 */
    // order.jsp : 1050px  
    // mypage_order_view.jsp : 100%
@mixin order_frame($width){
    min-width: $width;
    max-width: $width;
    width: $width;
    min-height: 1000px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $main-blackcolor;
    font-family: $brandFont;
    letter-spacing: 0.5px;
    // a 태그 걸린 td 속성
    .btn_td{
        a{
            text-decoration: none;
            color: inherit;
        }
        &:hover a{
            color: #fec084;
        }
    }
    #main_wrapper{
        margin-top: 90px;
    }
    .title_wrapper{
        margin-bottom: 30px;
        .title{
            font-size: 30px;
            text-align: center;
            font-family: inherit;
        }
        .mypage_title{
            font-size: 30px;
            text-align: left;
            font-family: inherit;
            margin-top:10px;
            margin-bottom:20px;
        }
        .description{
            display: inline-block;
            color: grey;
            margin-top: 20px;
            padding-bottom:15px;
            font-family: inherit;
            font-size: 16px;
        }

    }
}


/*공통 속성 제어부*/
    //order.jsp
main{
    @include order_frame(1050px);
}
    //mypage_order_view.jsp
#main_wrapper_mypage{
    @include order_frame(100%);
}

section{
    .order_subtitle{
        font-size: 23px;
        font-family: $brandFont;
        color: $main-blackcolor;
        margin: 0 auto;
        text-align: left;
        border-bottom: 2px solid $brandColor1;
        padding-bottom: 20px;
    }
    img{
        width: 100px;
        height: 0 auto;
    }
    a{
        font-weight: 520;
        text-decoration: underline;
        color: $main-blackcolor;
        cursor: pointer;
        &:hover{
            color: $brandColor1;
        }
    }
    table{
        box-sizing: border-box;
        border-collapse: collapse;
        color:inherit;
        margin-bottom: 50px;
        width: 100%;

        td{
            vertical-align: middle;
            text-align: center;
            // border-bottom: 1px solid $table-graycolor;

        }
        tr:last-of-type{
            border-bottom: 2px solid $table-graycolor;
        }
    
    }
}

.horHead{
    tr{
        border-bottom: 1px solid $table-graycolor;
        th, td{
            padding-top: 20px;
            padding-bottom: 20px;
            
        }
        td{
            font-size: 18px;
        }
    }
    td:nth-child(2){
        text-align: left;
        padding-left: 10px;
    }
}

.order_verHead, .verHead{
    .radio, .checkbox{
        width: 50px;
        position: relative;
        top:2px;
    }
    th{
        width: 150px;
    }
    td{
        font-family: "MS Shell Dlg 2";
        font-weight: 500;
        input, select{
            padding: 10px;
            border: 1px solid #dcdbde;
            border-radius: 3px;
            margin-right: 5px;
            width: 180px;
        }
        textarea{
            padding: 10px;
            border: 1px solid #dcdbde;
            border-radius: 3px;
        }
        input, select, textarea{
            &:focus{
                border: 1px solid $brandColor2;
            }
        }
    }
    th, td{
        // padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
        padding-left: 20px;
        vertical-align: middle;
    }
    th:first-of-type, td:first-of-type{
        padding-top: 10px;
    }
    #addr_btn{
        color: white;
        height: 38px;
        width: auto;
        position: relative;
        top: 1.7px;
        font-weight: bold;
        font-size: 16px;
        border:2px solid $brandColor2;
        line-height: 1;
        margin-left: 20px;
        &:active{
            background-color: white;
            color: $brandColor2;
        }
    }
    .input_zipcode{
        width: 400px;
    }
}




.btn, .order_btn{
    height: 50px;
    width: 70px;
    border:2px solid $brandColor2;
    // border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    background-color: #f09439;
    color: white;
    
    &:active{
        background-color: white;
        color: $brandColor2;
    }
    &:hover{
        cursor: pointer;
    }
}
.order_btn_wrapper{
    margin-top: 30px;
    .order_submit{
        width: 150px;
    }
}

// 적립금, 결제금액 구역
#point_price_wrapper{
    display: flex;
    flex-direction: row;

    /* 적립금 구역 */
    section:first-of-type{
        margin-right: 30px;
        width: 60%;
    }

    /* 결제 금액 구역 */
    section:last-of-type{
        background-color: rgba($color: #fec084, $alpha: 0.7);
        color: grey;
        padding: 10px;
        height: 250px;
        border-radius: 10px;
        position: relative;
        bottom: 10px;
        th{
            width: 120px;
        }
        td{
            width:200px;
            text-align: right;
            padding-top: 15px;
            padding-bottom: 10px;
            padding-right: 10px;
        }
        .order_subtitle{
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 15px;
            border-bottom: 2px solid coral;
        }
        span{
            color: coral;
            font-size: 17px;
            font-weight: bold;
            padding-right: 10px;
        }
        #total_point{
            display: block;
            margin-top: 5px;
            margin-left: 5px;
            color: coral;
            width: 100%;
            font-size: 14px;
        }
        #o_total_amount{
            font-size: 23px;
        }
        table{
            tr:last-of-type{
                border-bottom: 2px solid coral;
            }
            #total_price_th{
                padding-top:20px;
                color: $main-blackcolor;
            }
            #total_price_td{
                padding-top:40px;
                color: $main-blackcolor;
            }
        }
    }
}


// 개인정보 수집/제공 영역
#order_private{
    table{
        th{
            width: 50%;

        }
    }
}


