@import '../../font/font-family';

$brandColor1: #fec084;
$brandColor2: #FB9832;
$brandFont : 'ON_IGothic';
$main-blackcolor: #333;
$table-graycolor:#dcdbde;
$tableBorder: 0.5px solid #dcdbde;



/*공통 속성 제어부*/
main{
    min-width: 1050px;
    max-width: 1050px;
    min-height: 1000px;
    width: 1050px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $main-blackcolor;
    font-family: $brandFont;
    #main_wrapper{
        margin-top: 50px;
    }
    .title_wrapper{
        margin-bottom: 30px;
        .title{
            font-size: 30px;
            text-align: center;
            font-family: inherit;
        }
        .description{
            display: inline-block;
            color: grey;
            margin-top: 20px;
            padding-bottom:15px;
            font-family: inherit;
            font-size: 16px;
        }

    }
}
section{
    
    .order_subtitle{
        font-size: 23px;
        font-family: $brandFont;
        color: $main-blackcolor;
        margin: 0 auto;
        text-align: left;
    }
    img{
        width: 100px;
        height: 0 auto;
    }
    a{
        font-weight: 520;
        text-decoration: underline;
        color: $main-blackcolor;
        cursor: pointer;
        &:hover{
            color: $brandColor1;
        }
    }
    table{
        td{
            vertical-align: middle;
            text-align: center;
        }
        tr:nth-of-type(1){
            td{
                border-top: 3px solid $brandColor1 !important;
                padding-top: 15px;
            }
        }
        tr:last-of-type{
            td{
                border-bottom: 2px solid $table-graycolor;
                padding-bottom: 15px;
            }
        }
    
    }
}


main{
    letter-spacing: 0.5px;
    table{
        box-sizing: border-box;
        // width: 100px;
        border-collapse: collapse;
        margin-top: 30px;
        font-family: $brandFont;
        color:$main-blackcolor;
        margin-bottom: 50px;
        td{
            font-family: $brandFont;
            font-size: 18px;
        }
    }
    
    input[type=button], input[type=submit]{
        margin-left: 25px;
        height: 30px;
        width: 70px;
        background-color: $brandColor1;
        border: none;
        color: white;
        font-weight: bold;
        
        &:active{
            background-color: $brandColor2;
        }
    }
}
 
//상품 정보 section
#order_product{

    table{
        tr:nth-of-type(1){
            td:nth-of-type(1){
                text-align: center;
            }
            td:nth-of-type(2){
                // width: 100px;
                text-align: center;
            }
            td:nth-of-type(3){
                // width: 100px;
                text-align: center;
            }
        }
        tr, td{
            padding: 15px;
            text-align: left;
        }
        td:first-of-type{
            padding-left: 20px;
        }
        td:nth-of-type(1){
            // width: 100px;
        }
        td:nth-of-type(2){
            width: 600px;
        }
        td:nth-of-type(3){
            // width: 100px;
            text-align: center;
        }
        td:nth-of-type(4){
            // width: 100px;
            text-align: center;
        }            
    }
}
//주문자 정보 section
#order_member{
    table{ 
        tr{
            td{
                height: 25px;
                padding: 30px;
            }
        }
        
    }
}

//배송정보
#order_delivery{
    table{
        tr{
            td{
                input{
                    font-family: $brandFont;
                    padding-left: 8px;
                    border: 1px solid $table-graycolor;
                    height: 28px;
                }
                input[name=o_recpt_add]{
                    width: 600px;
                }
                
                input[name=o_recpt_zipcode]{
                    width: 50px;
                    padding-left: 0px;
                    text-align: center;
                }
                input[name=o_recpt_add_det]{
                    width: 617px;
                    margin-left: 25px;
                }
                textarea[name=o_del_msg]{
                    font-family: $brandFont;
                    font-size: 14px;
                    padding: 8px;
                    border: 1px solid $table-graycolor;
                    height: 40px;
                    width: 688px;
                    resize: none;
                }
                border-top: none;
                border-bottom: none;
                height: 35px;
                padding: 5px;
            }
            td:first-of-type{
                padding-left: 20px;
            }
        }
        tr:first-of-type{
            td{
                padding-top: 20px;
            }
        }
        tr:last-of-type{
            border-bottom: 2px solid $table-graycolor;
            td{
                padding-bottom: 20px;
            }
        }
    }
}
//적립금
#order_point{
    tr{
        td:first-of-type{
            padding-left: 30px;
            width: 130px;
        }
        td{
            padding-top: 20px;
            padding-bottom: 20px;
            input{
                width: 400px;
                height: 23px;
                padding: 8px;
                border: 1px solid $table-graycolor;
            }
        }
    }
}
//결제금액
#order_pay{
    table{
        font-family: $brandFont;
        tr{
            td{
                font-size: 18px;
                input{
                    border: none;
                    font-family: $brandFont;
                    font-size: 18px;
                    text-align: end;
                    padding-right: 10px;
                }
                padding-top: 10px;
                padding-bottom: 10px;
            }
            td:nth-of-type(1){
                width: 170px;
                text-align: center;
            }
            td:nth-of-type(2){
                text-align: end;
                padding-right: 50px;
            }
        }
        tr:last-child{
            td:last-child{
                font-size: 12px;
            }
        }
    }
}
//결제수단
#order_howpay{
    table{
        tr{
            td:nth-of-type(1){
                // width: 100px;
            }

            td:nth-of-type(2){
                text-align: center;
            }
        }
        tr:nth-of-type(1){
            td{
            }
        }
        tr:nth-of-type(2){
            td{
                padding-top: 20px;
            }
        }
        tr:nth-of-type(3){
            td{
            }
        }
        tr:nth-of-type(4){
            td{
            }
        }
        
        
    }
}