@charset "UTF-8";
/* 폰트 추가*/
/* 굵음 */
@font-face {
  font-family: 'ON_IGothic';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 일반 */
@font-face {
  font-family: 'Handon3gyeopsal600g';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

/* function 선언 */
/*공통 속성 제어부*/
main {
  min-width: 1050px;
  max-width: 1050px;
  width: 1050px;
  min-height: 1000px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #333;
  font-family: "ON_IGothic";
  letter-spacing: 0.5px;
}

main .btn_td a {
  text-decoration: none;
  color: inherit;
}

main .btn_td:hover a {
  color: #fec084;
}

main #main_wrapper {
  margin-top: 90px;
}

main .title_wrapper {
  margin-bottom: 30px;
}

main .title_wrapper .title {
  font-size: 30px;
  text-align: center;
  font-family: inherit;
}

main .title_wrapper .mypage_title {
  font-size: 30px;
  text-align: left;
  font-family: inherit;
  margin-top: 10px;
  margin-bottom: 20px;
}

main .title_wrapper .description {
  display: inline-block;
  color: grey;
  margin-top: 20px;
  padding-bottom: 15px;
  font-family: inherit;
  font-size: 16px;
}

#main_wrapper_mypage {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 1000px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #333;
  font-family: "ON_IGothic";
  letter-spacing: 0.5px;
}

#main_wrapper_mypage .btn_td a {
  text-decoration: none;
  color: inherit;
}

#main_wrapper_mypage .btn_td:hover a {
  color: #fec084;
}

#main_wrapper_mypage #main_wrapper {
  margin-top: 90px;
}

#main_wrapper_mypage .title_wrapper {
  margin-bottom: 30px;
}

#main_wrapper_mypage .title_wrapper .title {
  font-size: 30px;
  text-align: center;
  font-family: inherit;
}

#main_wrapper_mypage .title_wrapper .mypage_title {
  font-size: 30px;
  text-align: left;
  font-family: inherit;
  margin-top: 10px;
  margin-bottom: 20px;
}

#main_wrapper_mypage .title_wrapper .description {
  display: inline-block;
  color: grey;
  margin-top: 20px;
  padding-bottom: 15px;
  font-family: inherit;
  font-size: 16px;
}

section .order_subtitle {
  font-size: 23px;
  font-family: "ON_IGothic";
  color: #333;
  margin: 0 auto;
  text-align: left;
  border-bottom: 2px solid #fec084;
  padding-bottom: 20px;
}

section img {
  width: 100px;
  height: 0 auto;
}

section a {
  font-weight: 520;
  text-decoration: underline;
  color: #333;
  cursor: pointer;
}

section a:hover {
  color: #fec084;
}

section table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse;
  color: inherit;
  margin-bottom: 50px;
  width: 100%;
}

section table td {
  vertical-align: middle;
  text-align: center;
}

section table tr:last-of-type {
  border-bottom: 2px solid #dcdbde;
}

.horHead tr {
  border-bottom: 1px solid #dcdbde;
}

.horHead tr th, .horHead tr td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.horHead tr td {
  font-size: 18px;
}

.horHead td:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}

.order_verHead .radio, .order_verHead .checkbox, .verHead .radio, .verHead .checkbox {
  width: 50px;
  position: relative;
  top: 2px;
}

.order_verHead th, .verHead th {
  width: 150px;
}

.order_verHead td, .verHead td {
  font-family: "MS Shell Dlg 2";
  font-weight: 500;
}

.order_verHead td input, .order_verHead td select, .verHead td input, .verHead td select {
  padding: 10px;
  border: 1px solid #dcdbde;
  border-radius: 3px;
  margin-right: 5px;
  width: 180px;
}

.order_verHead td textarea, .verHead td textarea {
  padding: 10px;
  border: 1px solid #dcdbde;
  border-radius: 3px;
}

.order_verHead td input:focus, .order_verHead td select:focus, .order_verHead td textarea:focus, .verHead td input:focus, .verHead td select:focus, .verHead td textarea:focus {
  border: 1px solid #FB9832;
}

.order_verHead th, .order_verHead td, .verHead th, .verHead td {
  padding-bottom: 10px;
  text-align: left;
  padding-left: 20px;
  vertical-align: middle;
}

.order_verHead th:first-of-type, .order_verHead td:first-of-type, .verHead th:first-of-type, .verHead td:first-of-type {
  padding-top: 10px;
}

.order_verHead #addr_btn, .verHead #addr_btn {
  color: white;
  height: 38px;
  width: auto;
  position: relative;
  top: 1.7px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #FB9832;
  line-height: 1;
  margin-left: 20px;
}

.order_verHead #addr_btn:active, .verHead #addr_btn:active {
  background-color: white;
  color: #FB9832;
}

.order_verHead .input_zipcode, .verHead .input_zipcode {
  width: 400px;
}

.btn, .order_btn {
  height: 50px;
  width: 70px;
  border: 2px solid #FB9832;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  background-color: #f09439;
  color: white;
}

.btn:active, .order_btn:active {
  background-color: white;
  color: #FB9832;
}

.btn:hover, .order_btn:hover {
  cursor: pointer;
}

.order_btn_wrapper {
  margin-top: 30px;
}

.order_btn_wrapper .order_submit {
  width: 150px;
}

#point_price_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* 적립금 구역 */
  /* 결제 금액 구역 */
}

#point_price_wrapper section:first-of-type {
  margin-right: 30px;
  width: 60%;
}

#point_price_wrapper section:last-of-type {
  background-color: rgba(254, 192, 132, 0.7);
  color: grey;
  padding: 10px;
  height: 250px;
  border-radius: 10px;
  position: relative;
  bottom: 10px;
}

#point_price_wrapper section:last-of-type th {
  width: 120px;
}

#point_price_wrapper section:last-of-type td {
  width: 200px;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 10px;
}

#point_price_wrapper section:last-of-type .order_subtitle {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid coral;
}

#point_price_wrapper section:last-of-type span {
  color: coral;
  font-size: 17px;
  font-weight: bold;
  padding-right: 10px;
}

#point_price_wrapper section:last-of-type #total_point {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  color: coral;
  width: 100%;
  font-size: 14px;
}

#point_price_wrapper section:last-of-type #o_total_amount {
  font-size: 23px;
}

#point_price_wrapper section:last-of-type table tr:last-of-type {
  border-bottom: 2px solid coral;
}

#point_price_wrapper section:last-of-type table #total_price_th {
  padding-top: 20px;
  color: #333;
}

#point_price_wrapper section:last-of-type table #total_price_td {
  padding-top: 40px;
  color: #333;
}

#order_private table th {
  width: 50%;
}
/*# sourceMappingURL=order.css.map */