.arrow i{ 
	color: #fec084; text-decoration: none; 
}
.arrow{
  width: 32px;
  height: 32px;
  position: absolute;
  margin-top: 180px;	
  z-index: 1;
}
.bounce1 {
  -moz-animation: bounce1 2s infinite;
  -webkit-animation: bounce1 2s infinite;
  animation: bounce1 2s infinite;
  left: 3%
}

.bounce2 {
  -moz-animation: bounce2 2s infinite;
  -webkit-animation: bounce2 2s infinite;
  animation: bounce2 2s infinite;
  right: 3%
}


@keyframes bounce1 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-15px);
  }
  60% {
    transform: translateX(-7px);
  }
}

@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(7px);
  }
  60% {
    transform: translateX(15px);
  }
}