/* 폰트 추가*/
/* 굵음 */
@font-face {
  font-family: 'ON_IGothic';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 일반 */
@font-face {
  font-family: 'Handon3gyeopsal600g';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

/*공통 속성 제어부*/
main {
  min-width: 1050px;
  max-width: 1050px;
  min-height: 1000px;
  width: 1050px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #333;
  font-family: "ON_IGothic";
}

main #main_wrapper {
  margin-top: 50px;
}

main .title_wrapper {
  margin-bottom: 30px;
}

main .title_wrapper .title {
  font-size: 30px;
  text-align: center;
  font-family: inherit;
}

main .title_wrapper .description {
  display: inline-block;
  color: grey;
  margin-top: 20px;
  padding-bottom: 15px;
  font-family: inherit;
  font-size: 16px;
}

section .order_subtitle {
  font-size: 23px;
  font-family: "ON_IGothic";
  color: #333;
  margin: 0 auto;
  text-align: left;
}

section img {
  width: 100px;
  height: 0 auto;
}

section a {
  font-weight: 520;
  text-decoration: underline;
  color: #333;
  cursor: pointer;
}

section a:hover {
  color: #fec084;
}

section table td {
  vertical-align: middle;
  text-align: center;
}

section table tr:nth-of-type(1) td {
  border-top: 3px solid #fec084 !important;
  padding-top: 15px;
}

section table tr:last-of-type td {
  border-bottom: 2px solid #dcdbde;
  padding-bottom: 15px;
}

main {
  letter-spacing: 0.5px;
}

main table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse;
  margin-top: 30px;
  font-family: "ON_IGothic";
  color: #333;
  margin-bottom: 50px;
}

main table td {
  font-family: "ON_IGothic";
  font-size: 18px;
}

main input[type=button], main input[type=submit] {
  margin-left: 25px;
  height: 30px;
  width: 70px;
  background-color: #fec084;
  border: none;
  color: white;
  font-weight: bold;
}

main input[type=button]:active, main input[type=submit]:active {
  background-color: #FB9832;
}

#order_product table tr:nth-of-type(1) td:nth-of-type(1) {
  text-align: center;
}

#order_product table tr:nth-of-type(1) td:nth-of-type(2) {
  text-align: center;
}

#order_product table tr:nth-of-type(1) td:nth-of-type(3) {
  text-align: center;
}

#order_product table tr, #order_product table td {
  padding: 15px;
  text-align: left;
}

#order_product table td:first-of-type {
  padding-left: 20px;
}

#order_product table td:nth-of-type(2) {
  width: 600px;
}

#order_product table td:nth-of-type(3) {
  text-align: center;
}

#order_product table td:nth-of-type(4) {
  text-align: center;
}

#order_member table tr td {
  height: 25px;
  padding: 30px;
}

#order_delivery table tr td {
  border-top: none;
  border-bottom: none;
  height: 35px;
  padding: 5px;
}

#order_delivery table tr td input {
  font-family: "ON_IGothic";
  padding-left: 8px;
  border: 1px solid #dcdbde;
  height: 28px;
}

#order_delivery table tr td input[name=o_recpt_add] {
  width: 600px;
}

#order_delivery table tr td input[name=o_recpt_zipcode] {
  width: 50px;
  padding-left: 0px;
  text-align: center;
}

#order_delivery table tr td input[name=o_recpt_add_det] {
  width: 617px;
  margin-left: 25px;
}

#order_delivery table tr td textarea[name=o_del_msg] {
  font-family: "ON_IGothic";
  font-size: 14px;
  padding: 8px;
  border: 1px solid #dcdbde;
  height: 40px;
  width: 688px;
  resize: none;
}

#order_delivery table tr td:first-of-type {
  padding-left: 20px;
}

#order_delivery table tr:first-of-type td {
  padding-top: 20px;
}

#order_delivery table tr:last-of-type {
  border-bottom: 2px solid #dcdbde;
}

#order_delivery table tr:last-of-type td {
  padding-bottom: 20px;
}

#order_point tr td:first-of-type {
  padding-left: 30px;
  width: 130px;
}

#order_point tr td {
  padding-top: 20px;
  padding-bottom: 20px;
}

#order_point tr td input {
  width: 400px;
  height: 23px;
  padding: 8px;
  border: 1px solid #dcdbde;
}

#order_pay table {
  font-family: "ON_IGothic";
}

#order_pay table tr td {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#order_pay table tr td input {
  border: none;
  font-family: "ON_IGothic";
  font-size: 18px;
  text-align: end;
  padding-right: 10px;
}

#order_pay table tr td:nth-of-type(1) {
  width: 170px;
  text-align: center;
}

#order_pay table tr td:nth-of-type(2) {
  text-align: end;
  padding-right: 50px;
}

#order_pay table tr:last-child td:last-child {
  font-size: 12px;
}

#order_howpay table tr td:nth-of-type(2) {
  text-align: center;
}

#order_howpay table tr:nth-of-type(2) td {
  padding-top: 20px;
}
/*# sourceMappingURL=order.css.map */