@charset "UTF-8";
@import url(c:\Jsp\online-shopping-mall-jsp\WebContent\vscode__utf8\css\font-family.css);

main #orderWrapper {
  min-width: 1050px;
  max-width: 1050px;
  min-height: 1000px;
  width: 1050px;
  margin: 0px auto;
  margin: 0px auto;
}

main #orderWrapper h2 {
  margin-top: 50px;
  width: 100%;
  font-size: 40px;
  text-align: center;
  font-family: "ON-IGothic";
  color: #333;
  letter-spacing: 1px;
}

main #order_product table tr:nth-of-type(1) td:nth-of-type(1) {
  text-align: center;
}

main #order_product table tr:nth-of-type(1) td:nth-of-type(2) {
  width: 100px;
  text-align: center;
}

main #order_product table tr:nth-of-type(1) td:nth-of-type(3) {
  width: 100px;
  text-align: center;
}

main #order_product table tr, main #order_product table td {
  padding: 15px;
  text-align: left;
}

main #order_product table td:first-of-type {
  padding-left: 20px;
}

main #order_product table td:nth-of-type(1) {
  width: 100px;
}

main #order_product table td:nth-of-type(2) {
  width: 600px;
}

main #order_product table td:nth-of-type(3) {
  width: 100px;
  text-align: center;
}

main #order_product table td:nth-of-type(4) {
  width: 100px;
  text-align: center;
}

main #order_member table tr td {
  height: 25px;
  padding: 30px;
}

#order_delivery table tr td {
  border-top: none;
  border-bottom: none;
  height: 35px;
  padding: 5px;
}

#order_delivery table tr td input {
  font-family: "ON-IGothic";
  padding-left: 8px;
  border: 1px solid #dcdbde;
  height: 28px;
}

#order_delivery table tr td input[name=o_recpt_add] {
  width: 600px;
}

#order_delivery table tr td input[name=o_recpt_zipcode] {
  width: 50px;
  padding-left: 0px;
  text-align: center;
}

#order_delivery table tr td input[name=o_recpt_add_det] {
  width: 617px;
  margin-left: 25px;
}

#order_delivery table tr td textarea[name=o_del_msg] {
  font-family: "ON-IGothic";
  font-size: 14px;
  padding: 8px;
  border: 1px solid #dcdbde;
  height: 40px;
  width: 688px;
  resize: none;
}

#order_delivery table tr td:first-of-type {
  padding-left: 20px;
}

#order_delivery table tr:first-of-type td {
  padding-top: 20px;
}

#order_delivery table tr:last-of-type {
  border-bottom: 2px solid #dcdbde;
}

#order_delivery table tr:last-of-type td {
  padding-bottom: 20px;
}

#order_point tr td:first-of-type {
  padding-left: 30px;
  width: 130px;
}

#order_point tr td {
  padding-top: 20px;
  padding-bottom: 20px;
}

#order_point tr td input {
  width: 400px;
  height: 23px;
  padding: 8px;
  border: 1px solid #dcdbde;
}

#order_pay table {
  font-family: "ON-IGothic";
}

#order_pay table tr td {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#order_pay table tr td input {
  border: none;
  font-family: "ON-IGothic";
  font-size: 18px;
  text-align: end;
  padding-right: 10px;
}

#order_pay table tr td:nth-of-type(1) {
  width: 170px;
  text-align: center;
}

#order_pay table tr td:nth-of-type(2) {
  text-align: end;
  padding-right: 50px;
}

#order_pay table tr:last-child td:last-child {
  font-size: 12px;
}

#order_howpay table tr td:nth-of-type(1) {
  width: 100px;
}

#order_howpay table tr td:nth-of-type(2) {
  text-align: center;
}

#order_howpay table tr:nth-of-type(2) td {
  padding-top: 20px;
}

/*전체 속성 제어부*/
table tr:nth-of-type(1) td {
  border-top: 3px solid #FB9832 !important;
  padding-top: 15px;
}

table tr:last-of-type td {
  border-bottom: 2px solid #dcdbde;
  padding-bottom: 15px;
}

.order_subtitle {
  font-size: 25px;
  font-family: "ON-IGothic";
  color: #333;
  margin: 0 auto;
}

a {
  font-weight: 520;
  cursor: pointer;
}

a:hover {
  color: #FB9832;
}

main {
  letter-spacing: 0.5px;
}

main table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  font-family: "ON-IGothic";
  color: #333;
  margin-bottom: 50px;
}

main table td {
  font-family: "ON-IGothic";
  font-size: 18px;
}

main input[type=button], main input[type=submit] {
  margin-left: 25px;
  height: 30px;
  width: 70px;
  background-color: #FB9832;
  border: none;
  color: white;
  font-weight: bold;
}

main input[type=button]:active, main input[type=submit]:active {
  background-color: #f09439;
}
/*# sourceMappingURL=order.css.map */